.paper {
  padding: 3%;
  margin-top: 50px;
}

._heading {
  font-weight: 600;
  font-size: 27;

  justify-content: center;
  align-content: center;
  display: flex;
  justify-content: space-between;
}

._headingSection {
  text-align: center !important;
  padding-bottom: 20px;
}

._tab_button {
  width: 300px !important;
}
._tab_button:focus {
  background-color: aquamarine !important;
}
.chip_btn {
  width: 300px !important;
  margin-bottom: 10px !important;
}

@media only screen and (min-width: 360px) {
  .add {
    margin-right: 600px;
  }
  ._grid {
    /* height: 100% !important; */
    margin: 0px !important;
    padding: 0px !important;
    /* margin-top: 90px !important; */
  }
  .paper {
    padding: 3% !important;
    margin-top: 10px !important;
  }
}
